<% if logged_in? %>
Logged in as: <b><%= current_user.username %></b>&emsp;&emsp;&emsp;
<a href="/logout">logout</a>
<% end %>

<center>
<h1><%= @product.name %></h1>
</center>

<h3>Product Reviews</h3>

<font color="red">
<%= session[:notice] %>
<% session[:notice] = "" %> <!-- clear error message for future redirects -->
</font>

<% @product.reviews.each do |review| %>
  <p>
    <%= review.content %><br>
    <font color="gray">Product rating: </font><b><%= review.rating %></b>
    &emsp;&emsp;&emsp;

    <% if review.user %>
      <font color="gray">Left by: </font><b><%= review.user.username %></b>
      &emsp;&emsp;&emsp;
      <% if review.user == current_user %>
        <a href="/reviews/<%=review.id%>/edit">Edit review</a>
        &emsp;&emsp;&emsp;
        <a href="/reviews/<%=review.id%>/delete">Delete review</a>
      <% end %>
    <% end %>
  </p>
<% end %>

<p><a href="/reviews/<%=@product.id%>/new">Add a review</a></p>
<p><a href="/products">Back to products page</a></p>
