<% if logged_in? %>
Logged in as: <b><%= current_user.username %></b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/logout">logout</a>
<% end %>

<center>
<h1><%= @product.name %></h1>
</center>

<h3>Product Reviews</h3>

<% @product.reviews.each do |review| %>
  Left by: <%= review.user.username %><br>
  <%= review.content %><br>
  <font color="blue">Product rating: </font><b><%= review.rating %></b></p>
<% end %>



<p><a href="/reviews/<%=@product.id%>/new">Add a review</a></p>
<p><a href="/products">Back to products page</a></p>
