
<center>
<h1><%= @product.name %></h1>
</center>

<font color="red">
<%= session[:notice] %>
<% session[:notice] = "" %> <!-- clear error message for future redirects -->
</font>

<h3>Add a review</h3>

<p>
  <form action="/reviews/<%=@product.id%>" method="POST">
    <textarea name="content" cols="100" rows="10"></textarea>

    <p>Rate this product:
      <% i = 1 %>
      <% 5.times do %>
        <input type="radio" name="rating" value="<%= i %>"><%= i %></input>
        <% i += 1 %>
      <% end %>
    </p>

    <p><input type="submit" value="Submit"></p>
  </form>
</p>
